a(href=item.href.replace(/^https?:/, '') target="main" tabindex="0").item
    .item-img
        img(src=item.thumbnail)
        p.stars
            - var i = 0;
            while i < item.w / 200
                if(200 * i++ + 100 < item.w)
                    span ★
                else
                    span ☆
    div
        h2.trans= item.title.t
        h2= item.title.o
        .ingrs
            each ingredient in item.ingredients
                span(class=ingredient.className)
                    span= ingredient.t
                    span /
                    span= ingredient.o
                span.sep= ', '
