doctype html
html
    head
        title c for cook
    style
        | h2 { margin-top: 0px; text-decoration: underline; }
        | h2.trans { font-size: 18px; }
        | a { color: black; }
        | .trans { margin-top: -15px; }
        | .item { display: flex; }
        | .item-img { width: 110px; margin-right: 20px; }
        | .sep { color: #aaa; }
        | .tier-first { color: #fe158a; }
        | .tier-second { color: #ff7575; }
        | .tier-third { color: #fdab3d; }
        | .tier-fourth { color: #cbb641; }
        | .tier-fifth { color: #7f5348; }
        | .unknown { color: #0ff; text-decoration: underline; }
    body
        h1 c for cook - by b1f6c1c4
        each item in recipes
            div.item
                div.item-img
                    p
                        - var i = 0;
                        while i++ < item.w / 200
                            span ★
                    details
                        summary Picture
                        img(src=item.thumbnail)
                div
                    h2
                        a(href=item.href)= item.title.o
                    h2.trans
                        a(href=item.href)= item.title.t
                    p
                        each ingredient in item.ingredients
                            span(class=ingredient.className)= ingredient.o
                            span.sep= ', '
                    p.trans
                        each ingredient in item.ingredients
                            span(class=ingredient.className)= ingredient.t
                            span.sep= ', '
